LISTEN_ADDR=:8787
WOL_TARGET_NAME=Studio PC
WOL_MAC=AA:BB:CC:DD:EE:FF
WOL_BROADCAST_ADDR=192.168.1.255
WOL_PORT=9
# WAKEY_HOST_HELPER_URL=http://127.0.0.1:8788/wake
# WAKEY_HOST_HELPER_TOKEN=change-me
WAKEY_BUTTON_LABEL=Wake Studio PC
WAKEY_SUCCESS_MESSAGE=Magic packet sent to Studio PC.
# WAKEY_AUTH_TOKEN=change-me
